<!DOCTYPE html>
<html xmlns= http://www.w3.org/2000/svg
xmlns:th= "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<title>Cadastro Valores</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
	crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

  <nav class="navbar navbar-dark bg-dark navbar-inverse navbar-static-top">
  	<div class = "container-fluid">
  		<a class="navbar-brand" href="#">
    	<h1>Cadastro valores</h1>
    	</a>
    </div>
   </nav>
   
<form class = "form-horizontal" method = "post" action="/despesas">
	<div class= "alert alert-success" th:if= "${!#strings.isEmpty(mensagem)}">
		<span th:text= "${mensagem}">Valor Salvo com Sucesso !</span>
	</div>
	
	<div class = "panel  panel-default">
	<div class="panel-heading">
		<div class= "clearfix">
			<h1 class = "panel-title g-titulo-panel">Atribuição de despesas</h1>
				<a class = "btn btn-link g-link-panel" href="/despesas">Voltar para pesquisa</a>
		</div>
	</div>
		
	<div class = "panel-body">
		<div class = "form-group">
			 <label for= "descricao" class= "col-sm-2 control-label">Descrição</label>
		<div class = "col-sm-4">
			<input type= "text" class="form-control" id="descricao" name= "descricao"/>
		</div>
	</div>
	
	<div class = "form-group">
		<div class = "form-group">
			 <label for= "DatadeVencimento" class= "col-sm-2 control-label">Data de vencimento</label>
		<div class = "col-sm-2">
			<input type= "text" class="form-control" id="DatadeVencimento" name="DataVencimento"/>
		</div>
	</div>
	
	
	<div class = "form-group">
		<div class = "form-group">
			 <label for= "Valor" class= "col-sm-2 control-label">Valor</label>
		<div class = "col-sm-2">
			<input type= "text" class="form-control" id="Valor" name= "valor"/>
		</div>
	</div>
	

<div class = "form-group">
		<div class = "form-group">
			 <label for= "status" class= "col-sm-2 control-label">Status</label>
		<div class = "col-sm-2">
			<select class="form-control" name= "status">
				<option th:each="status : ${ListarStatus}" th:value="${status}" th:text="${status.descricao}"></option>
			</select>
		</div>
</div>
  
  <div class= "form-group">
  	<div class= "col-sm-offset-2 col-sm-10">
  		<button type="submit" class="btn btn-primary">Salvar</button>
  		
  			</div>
  			</div>
  		</div>
 	 </div>
	</div>
  </div>
</div>
</form>
  		
  		
  		
  		
  		
<script type="/js/jquery-351.min.js"></script>  		
<script type="/js/bootstrap.min.js"></script>
</body>
</html>